.submit {
	padding: 8px 84px 8px 84px;
	#background-color: #99ff33;
	background-color: #99cc00;
	color: white;
	text-align: center;
    font-weight: bold;
}

.submit2 {
    #padding: 8px 84px 8px 84px;
	padding: 2.5% 24% 2.5% 23%;
    #background-color: #99ff33;
    background-color: #99cc00;
    color: white;
    text-align: center;
    font-weight: bold;
}

.submit3 {
    padding: 1% 5% 1% 5%;
    #background-color: #99ff33;
    background-color: #99cc00;
    color: white;
    text-align: center;
    font-weight: bold;
}

.space {
	margin-left: 2%;
}

.border {
	border: 1px solid darkblue;
    margin-right:80%;
    margin-left:1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

.border2 {
    border: 1px solid darkblue;
    margin-right:50%;
    margin-left:1%;
    padding-top: 1%;
    padding-left: 0.2%;
    padding-right: 1%;
    padding-bottom: 0.5%;
}

.field {
	width: 72%;
    height: 25px;
}
.desc {
    width: 72%;
    height: 50px;
}

