{% extends "base.html" %}

{% block content %}
<h2> Add New Device </h2>
<div>
        <form action="/addnewdevice" method='POST' accept-charset="UTF-8">
                <p><b>Ip Adress:</b> </br>
        		<input class="field" type="text" name="ipaddress" required="required">
                <p><b>Name:</b><br>
                <input class='field' type="text" name="name" required="required"><br>
                <p><b>Description:</b><br> 
                <input class='field' type="textbox" name="description"><br><br>
                <input class="submit"  value="Add Device" type="submit">
        </form>
</div>
<div>
   {{ success_msg }}
</div>
<div>
   {{ fail_msg }}
</div>

<div>
  <form action="/editdevice" method="POST">
    <input class="submit" type="submit" value="Edit Device"><br>
  </form>
</div>



{% endblock %}
