<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Main App</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
<div class="add">
	<img class="cisco" src="{{url_for('static', filename='cisco.png')}}" style="width:120px;height:45px; margin-right:1420px;" />
	<a class="add" href='/addnewdevice'>Add New Device</a>
	<a class="add" href='/addnewcommand'>Add New Command</a>
</div>
<div class="list">
        Devices
    Commands
</div>



<div>
	{% block content %}
    {% endblock %}   
</div>

</body>
</html>
