{% extends "base.html" %}
{% block content %}
<h2 class="space"> Edit / Delete Command </h2>
<div class="border2">
<form class="space"  action="/editcommand" method='POST' accept-charset="UTF-8" >
  
  {% for i in commands %}
        <input type="checkbox" name="{{ i[1] }}" value="{{ i[0] }}">{{ i[0] }} {{ i[1] }}:      {{ i[2] }} <br>
  {% endfor %}<br>

  <input class="submit3" type="submit" name="edit" value="Edit">
  <input class="submit3" type="submit" name="delete" value="Delete"><br>
<br>

</form>
</div>
{{ success_msg }}

{% endblock %}   
</div>

    <a  href="/main">Home Page </a>
</body>
</html>
