<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cisco Automaion Tool</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body class="index">
<div class="login">
	<form action='/login' method='post'>
		<p class="username">Username: </br>
    	<input class="field" type="text" name="username" required="required">
		<p class="username">Password:<br>
		<input class='field' type="password" name="password" required="required"><br><br>
		<input class="submit" value="Login" type="submit">
	</form>
</div>

</body>
</html>
