<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Main App</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
<div class="add">
	<img class="cisco" src="{{url_for('static', filename='cisco.png')}}" style="width:120px;height:45px; margin-right:1420px;" />
	<a class="add" href='/addnewdevice'>Add New Device</a>
	<a class="add" href='/addnewcommand'>Add New Command</a>
</div>
<div class="list">
	Devices
    Commands
</div>
<div>
<form action="/ciscoconnect" method='POST' accept-charset="UTF-8" >
  <input type="checkbox" name="switch01" value="10.50.5.57">Switch01    10.50.5.57  Core switch Active <br>
  <input type="checkbox" name="switch02" value="10.50.5.58">Switch02    10.50.5.58  Core switch Passive <br>
  <input type="checkbox" name="switch03" value="10.50.5.59">Switch03    10.50.5.59  Core switch Backup <br> <br> <br>
  <input type="checkbox" name="showversion" value="show version">Show Version: 							        Shows device version information <br>
  <input type="checkbox" name="showinterfacesstatus" value="show interfaces status">Show Interface Status:      Shows interfaces Statuses <br>
  <input type="checkbox" name="showipinterfacebrief" value="show ip interface brief">Show IP Interface Brief:   Shows device interface IP info  <br>
  <input type="checkbox" name="showmacaddresstable" value="show mac address-table">Show Mac Table:   Shows MACs existing on Device  <br> <br>
  <input type="text" name="customcommand" style="width: 400px;" placeholder="enter custom command"> </br><br>
  <input type="submit" value="Submit"><br>
</form>
</div>


<script>
</script>
</body>
</html>
